* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul li {
  list-style: none;
}

:root {
  --white: #ffff;
  --dark: #0000;
  --red: #c00511;
  --gray: #c4c4c4;
}

header {
  min-height: 120vh;
}

.header_bg_img {
  background: url("./images/image1.png");
  background-position: top;
  background-repeat: no-repeat;
  height: 120vh;
}

.header_bg_effect {
  height: 100%;
  background: rgba(13, 13, 13, 0.77);
}

.header_navbar {
  max-width: 1171px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  gap: 80px;
}

.header_navbar img {
  margin-top: 49px;
}

nav ul {
  display: flex;
  gap: 60px;
}

nav ul li a {
  color: var(--white);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19px;
}

nav {
  margin-top: 55px;
}

.header_search {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 7px;
}

.header_icons {
  display: flex;
  margin-top: 57px;
  align-items: center;
  gap: 28px;
  color: var(--white);
}

.header_search input {
  background: none;
  border: none;
  outline: none;
  color: var(--white);
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 16px;
}

::placeholder {
  color: var(--white);
  font-size: 1.4rem;
}

.fa-magnifying-glass {
  font-size: 1.4rem;
}

.header_content {
  max-width: 1171px;
  margin: 0 auto;
  /* background-color: red; */
  height: 50vh;
  margin-top: 150px;
  color: var(--white);
}

.header_content h1 {
  font-family: "Rubik One";
  font-weight: 900;
  font-size: 5.4rem;
  line-height: 67px;
  font-family: "Rubik", sans-serif;
  margin-bottom: 23px;
}

.header_content ul {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 21px;
}

.comedy {
  position: relative;
}

.comedy::before {
  content: "";
  background: var(--white);
  width: 1px;
  height: 20px;
  position: absolute;
  left: -10px;
}

.comedy::after {
  content: "";
  background: var(--white);
  width: 1px;
  height: 20px;
  position: absolute;
  right: -10px;
}

.header_content p {
  width: 35%;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 22px;
  margin-bottom: 45px;
}

.header_result {
  gap: 34px;
  margin-bottom: 47px;
}

.icon_and_range {
  gap: 10px;
}

.imdb_result {
  display: flex;
  align-items: center;
}

.imdb {
  gap: 5px;
}

.header_btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.two_header_btn {
  display: flex;
  align-items: center;
  gap: 47px;
}

.btn1 {
  padding: 14px 37px 15px 36px;
  background: rgba(207, 0, 15, 0.9);
  border-radius: 99px;
  outline: none;
  border: none;
  color: var(--white);
  gap: 14px;
}

.btn1 span {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 21px;
}

.btn1:hover {
  background: var(--dark);
}

.btn2 {
  padding: 14px 35px 15px 29px;
  background: linear-gradient(
    262.15deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 0.3px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 99px;
  color: var(--red);
  display: flex;
  gap: 11px;
}

.btn2 span {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 21px;
}

/* =======================MAIN CSS========================== */

main {
  background: rgba(13, 13, 13, 0.77);
  min-height: 100vh;
  padding-top: 50px;
}

section {
  max-width: 1171px;
  margin: 0 auto;
}

.section_one_header {
  display: flex;
  gap: 43px;
  align-items: center;
  color: var(--white);
}

.section_one_header span {
  background: linear-gradient(
    90.03deg,
    #c00511 49.97%,
    rgba(192, 5, 17, 0) 92.25%
  );
  width: 291px;
  height: 6px;
}

.section_one_header h3 {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 38px;
}

.link_all_video {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}

.link_all_video a {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19px;
  color: var(--gray);
}

.videos {
  max-width: 1171px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(358px, 1fr));
  gap: 48px;
}

.video {
  min-width: 358px;
  position: relative;
}

.video video {
  width: 100%;
  height: 243px;
}

.fa-x {
  position: absolute;
  right: 15px;
  top: 30px;
  color: var(--gray);
  font-size: 1.1rem;
  cursor: pointer;
}

.video h2 {
  margin-top: 23px;
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 21px;
  color: var(--white);
}
.video_title {
  color: var(--red) !important;
}

.one {
  margin-bottom: 80px;
}

.film_images {
  max-width: 1171px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  gap: 37px;
  margin-top: 32px;
  position: relative;
}
.arrow1{
  position: absolute;
  cursor: pointer;
}
.arrow1 .left{
  left:-40px;
  top:170px;
}

.film_image {
  min-width: 265px;
}

.film_image img {
  height: 392px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 17px;
}

.film_image h2 {
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 21px;
  color: var(--white);
}
.film_first_image {
  position: relative;
}
.svg_icon {
  position: absolute;
  right: 15px;
  top: 15px;
}
.top_new{
  position: relative;
}
.new {
  width: 78px;
  height: 27px;
  background: var(--red);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 0;
  position: absolute;
  top:21px;
}
.new span {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 21px;
}


